<ion-header>
  <ion-toolbar>
    <ion-title>Avisos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Mensaje cuando no hay avisos -->
  <div *ngIf="avisos.length === 0">
    <p>No se han cargado avisos</p>
  </div>

  <!-- Lista de avisos -->
  <ion-list *ngIf="avisos.length > 0">
    <app-avisos-component
      *ngFor="let aviso of avisos"
      [aviso]="aviso"
      (eliminar)="abrirModalEliminar($event)">
    </app-avisos-component>
  </ion-list>

  <!-- Botón para ir al formulario -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/formulario-page">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Modal -->
  <ion-modal [isOpen]="mostrarModal">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-title>Eliminar aviso</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <p>¿Deseas eliminar este aviso?</p>

        <ion-button
          expand="block"
          color="danger"
          (click)="confirmarEliminar()">
          Eliminar
        </ion-button>

        <ion-button
          expand="block"
          fill="outline"
          (click)="cerrarModal()">
          Cancelar
        </ion-button>
      </ion-content>

    </ng-template>
  </ion-modal>

</ion-content>
